<div class="card" id="<%= dom_id thing %>">
<div class="card-body">
    <h5 class="card-title"><%= thing.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= thing.description %></h6>
        <p>
      <%= link_to "Show this thing", thing %>
    </p>

</div>
</div>
