<h1>Editing thing</h1>

<%= render partial: "form", layout: "card_form", thing: @thing, locals: { title: "Editing thing" } %>

<br>

<div>
  <%= link_to "Show this thing", @thing %> |
  <%= link_to "Back to things", things_path %>
</div>
