<p style="color: green"><%= notice %></p>

<h1>Things</h1>

<div class="row" id="things">

  <% @things.each do |thing| %>
    <div class="col-sm-3">
      <%= render "card", thing: thing %>
    </div>
  <% end %>
</div>

