<h1>New thing</h1>

<%= render partial: "form", layout: "card_form", object: @thing, locals: { title: "Vertical Form" } %>

<br>

<% content_for :toolbar do %>
  <li class="nav-item">
    <%= link_to "Things", things_path, class: "nav-link" %>
  </li>
<% end %>