<div id="notice" class="alert alert-success alert-dismissible fade show" role="alert">
    <i class="bi bi-check-circle-fill flex-shrink-0 me-2"></i>
    <%= flash[:notice] %></i>
    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
</div>