<div class= "row">
  <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted small">&copy; 2022 MrJ Digital Ltd</p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><small>Home</small></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><small>Features</small></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><small>Pricing</small></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><small>FAQs</small></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><small>About</small></a></li>
    </ul>
  </div>
</div>